@{
	ViewData["Title"] = "Login";
}
<div class="container mt-5">
	<div class="text-center mb-4">
		<img src="~/images/uspg_pos_logo.png" alt="Logo" class="img-fluid" style="max-width: 200px;" />
	</div>
	<form class="border p-4 rounded shadow mx-auto" style="max-width:400px;">
		<div class="mb-2">
			<label class="form-label">Usuario</label>
			<input class="form-control" placeholder="Escribe tu nombre de usuario" />
			<span class="text-danger"></span>
		</div>
		<div class="mb-2">
			<label class="form-label">Contraseña</label>
			<div class="input-group">
				<input id="passwordInput" class="form-control" type="password" placeholder="Ingresa tu contraseña" />
				<button type="button" class="btn btn-outline-secondary" id="togglePassword" onclick="togglePasswordVisibility()">
					<i id="toggleIcon" class="bi bi-eye"></i>
				</button>
			</div>
			<span class="text-danger"></span>
		</div>
		<button id="cargar" type="submit" class="btn btn-primary w-100">Iniciar Sesión</button>
	</form>
</div>
@section Scripts {
	<script>
		function togglePasswordVisibility() {
			const passwordInput = document.getElementById('passwordInput');
			const toggleIcon = document.getElementById('toggleIcon');

			if (passwordInput.type === 'password') {
				passwordInput.type = 'text';
				toggleIcon.classList.remove('bi-eye');
				toggleIcon.classList.add('bi-eye-slash');
			} else {
				passwordInput.type = 'password';
				toggleIcon.classList.remove('bi-eye-slash');
				toggleIcon.classList.add('bi-eye');
			}
		}
	</script>
}